{% extends "base.html" %}

{% block konten%}
{% for data in dataindo %}
<h1>Data Kawal Corona Di Indonesia</h1>
<p>Positif : <b>{{data.positif}}</b></p>
<p>Sembuh : <b>{{data.sembuh}}</b></p>
<p>Meninggal : <b>{{data.meninggal}}</b></p>
{% endfor %}

{% for data in data_JawaBarat %}
<h1>Data Kawal Corona Di Indonesia Provinsi</h1>
<p>Positif : <b>{{data.positif}}</b></p>
<p>Sembuh : <b>{{data.sembuh}}</b></p>
<p>Meninggal : <b>{{data.meninggal}}</b></p>
{% endfor %}


<h1>Tentang Website Kami</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quas laudantium esse voluptatem dolorem explicabo dicta temporibus quos eligendi corporis, 
hic laborum tempore? Accusantium, consequatur aspernatur soluta est exercitationem at.</p>

{% endblock%}