{% extends "base.html" %}

{% block konten%}

<div class="jumbotron">

    <h3>Pengaduan</h3>
    <!--form pengaduan-->
    <form method="POST" enctype="multipart/form-data">
      {{form.hidden_tag()}}
      <div class="form-group">
          {{form.subjek.label(class="form-control-label")}}
          {% if form.subjek.errors %}
               {{form.subjek(class="form-control is-invalid")}}
  
               <div class="invalid-feedback">
                   {%for error in form.subjek.errors %}
                   <span>{{error}}</span>
                   {% endfor %}
               </div>
          {%else%}
              {{form.subjek(class="form-control")}}
  
          {%endif%}
      </div>

      <div class="form-group">
          {{form.kategori.label(class="form-control-label")}}
          {% if form.kategori.errors %}
               {{form.kategori(class="form-control is-invalid")}}
  
               <div class="invalid-feedback">
                   {%for error in form.kategori.errors %}
                   <span>{{error}}</span>
                   {% endfor %}
               </div>
          {%else%}
              {{form.kategori(class="form-control")}}
  
          {%endif%}
      </div>

      <div class="form-group">
        {{form.detail_pengaduan.label(class="form-control-label")}}
        {% if form.detail_pengaduan.errors %}
             {{form.detail_pengaduan(class="form-control is-invalid")}}

             <div class="invalid-feedback">
                 {%for error in form.detail_pengaduan.errors %}
                 <span>{{error}}</span>
                 {% endfor %}
             </div>
        {%else%}
            {{form.detail_pengaduan(class="form-control")}}

        {%endif%}
      </div>

      <div class="form-group">
          {{form.submit(class="btn btn-primary")}}
      </div>
  
    </form>
    <hr class="my-4">
    <h4>Data Pengaduan</h4>
    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">#</th>
            <th scope="col">Tanggal</th>
            <th scope="col">Subjek</th>
            <th scope="col">Kategori</th>
            <th scope="col">Detail Pengaduan</th>
            <th scope="col">Edit</th>
            <th scope="col">Hapus</th>
        </tr>
        </thead>
        <tbody>
            {%for data in dt_pengaduan%}  
        <tr>
            <th>
              <a href="{{url_for('rmahasiswa.detail_pengaduan', ed_id=data.id)}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-left-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-5.904 2.803a.5.5 0 1 0 .707-.707L6.707 6h2.768a.5.5 0 1 0 0-1H5.5a.5.5 0 0 0-.5.5v3.975a.5.5 0 0 0 1 0V6.707l4.096 4.096z"/>
                </svg>
              </a>
            </th>
            <td>{{data.tgl_post}}</td>
            <td>{{data.subjek}}</td>
            <td>{{data.kategori}}</td>
            <td>{{data.detail_pengaduan}}</td>
            <td>{{data.mahasiswa_id}} / {{data.mahasiswa.email}}</td>
            <td><a href="{{url_for('rmahasiswa.edit_pengaduan', ed_id=data.id)}}" class="btn btn-warning">Edit</a></td>
            <td><a href="/hapus_pengaduan/{{data.id}}" class="btn btn-danger" onclick="return confirm('anda yakin untuk menghapus data')"> Hapus</a></td>
        </tr>

           {% endfor %}
        </tbody>
    </table>

  </div>

{% endblock%}